body {
  /* background:radial-gradient(#c187ff, #fff) fixed; */
  background-image: url(../images/china-red-1006697_960_720.jpg);
  background-size: cover;
  font-size: 20px;
  font-family: 'Kalam', cursive;
}
