@import url('https://fonts.googleapis.com/css?family=Shojumaru');
@import url('https://fonts.googleapis.com/css?family=Ceviche+One');

$bg_std:rgba(80, 117, 111, 0.719);
$home_bg: white;
$font_std: 'helvetica';
$font_shoju: 'Shojumaru', cursive;
$font_ceviche: 'Ceviche One', cursive;
$black: #000;
$white: #fff;  
$animation_time: 350ms;
$gutter_std: 1vw;
$padding_rte: .5vw;
$font_size: 4vw;
$mrg:5vw;